#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 960px;
}

.box {
    border: 1px solid #f9faf8;
    width: 55px;
    height: 55px;
}
.box:hover {
    background-color: orange;
}

#gridSize {
    margin: 20px;
}

body{
    background-color: #1F2937;
    color: #f9faf8;
    font-family: "Audiowide", sans-serif;

}